{% load staticfiles %}
* {
    font-family: Arial;
}
table {
    width: 100%;
}
td {
    font-size: 0.9em;
    text-align: left; 
    vertical-align: top;
    font-family: "Arial";
}
input[type=checkbox] {
    margin-right:5px !important;
}
fieldset {
    border: none;
    display: none;
    padding: 0;
    font-family: "Arial";
    margin-left: 10px !important;
    clear: both;
}
#jumbotron_pgf {
    background-color: lavender;
}
.foot_button {
    margin-top: 20px;
    margin-bottom: 20px;
}
.input-group {
    margin-top: 5px;
    margin-bottom: 5px;
}
#logo_ontic {
    background-image: url("../img/ontic.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 60px;
    margin: 0;
    padding: 0;
}
#logo_ericsson {
    background-image: url("../img/Ericsson_logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 100px;
    margin: 0;
    padding: 0;
}

