{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <title>PGF Simulation Administration</title>
    <style type="text/css">
    .top-buffer { 
        margin-top:20px;
    }
    .top-heading {
        margin-top:20px;
    }
    .cell_centered {
        text-align: center;
    }
    .checkbox_centered {
        margin-left: 5px !important;
        margin:0 !important;
    }
    </style>

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='{% static "js/pgf_simulation.js" %}'></script>
    <script type="text/javascript" src='{% static "js/pgf_simulation_admin.js" %}'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href='{% static "css/pgf_simulation.css" %}'>
    <link rel="shortcut icon" href='{% static "ico/favicon.ico" %}'>
</head>

<body>
<div class="container">
      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
        <h3 class="text-muted">Adaptive Quality of Experience</h3>
        <nav>
        <ul class="nav nav-justified">
            <li><a href="#">Home</a></li>
            <li><a href="/sim/">Mitigation Plans Simulation</a></li>
            <li><a href="/sim_recommend/">Mitigation Plan Recommendation</a></li>
            <li class="active"><a href="#">Mitigation Plans Simulation Administration</a></li>
            <li><a href='{% static "html/about.html" %}'>About</a></li>
        </ul>
        </nav>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron" id="jumbotron_pgf">
        <div class="container">
            <div class="row">
                <div class="col-md-3" id="logo"></div><div class="col-md-9"></div>
            </div>
        </div>
        <h2>PGF Mitigation Plan Simulation Administration</h2>
        <p class="lead">Configure the mitigation plan simulation tool parameters</p>
    </div>
</div>

<div class="container" id="tab_container">
    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-8 col-xs-6">
            <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a data-toggle="tab" href="#general">General</a></li>
            <li><a data-toggle="tab" href="#policytuning">Policy Tuning</a></li>
            <li><a data-toggle="tab" href="#kpithresholds">KPI Thresholds</a></li>
            <li><a data-toggle="tab" href="#cgweights">Business Weights</a></li>        
            <li><a data-toggle="tab" href="#recommendation">Recommendation</a></li>
            <li><a data-toggle="tab" href="#looknfeel">Look and Feel</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-xs-6"></div>
    </div>
</div>

<div class="tab-content" id="tabs_container">
    <!-- General Tab-->
    <div class="container tab-pane fade in active" id="general">
    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-3 col-xs-4">
            <label data-toggle="tooltip" data-placement="top" class="top-heading" title="KPI gain can be modelled using three different types of functions">Type of KPI Gain Function: </label>
            <br/>
            <div class="btn-group" role="group" id="function_type">
                <button type="button" class="btn btn-default" value="linear">Linear</button>
                <button type="button" class="btn btn-default" value="logistic">Logistic</button>
                <button type="button" class="btn btn-default" value="exponentiation">Exponentiation</button>
            </div>
        </div>
        <div class="col-md-3 col-xs-4">
            <div class="form-group">
            <label for="input_log_parameter" class="control-label top-heading" data-toggle="tooltip" data-placement="top" title="This parameter states how steep the logistic function in [it can't be changed in this tool release]">Logistic function parameter</label>
            <p class="form-control-static" id="input_log_parameter"></p>
            <!--<input type="number" class="form-control" id="input_log_parameter" placeholder="Logistic Parameter">-->
            </div>
        </div>
        <div class="col-md-3 col-xs-4">
            <div class="form-group">
            <label for="input_exp_parameter" class="control-label top-heading" data-toggle="tooltip" data-placement="top" title="This parameter states how steep the exponentiation function in [it can't be changed in this tool release]">Exponentiation function parameter</label>
            <p class="form-control-static" id="input_exp_parameter">Exponentiation parameter</p>
            </div>
        </div>
        <div class="col-md-1 col-xs-0"></div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-0"></div>
        <div class="col-md-3 col-xs-6" id="user_group_list">
            <label data-toggle="tooltip" data-placement="right" title="The following customer groups are currently available. In next releases it will be possible to create, remove, activate and deactivate customer groups">Customer groups: </label>
            <div class="checkbox disabled">
                <label>
                <input type="checkbox" value="" checked disabled>
                Gold
                </label>
            </div>
            <div class="checkbox disabled">
                <label>
                <input type="checkbox" value="" checked disabled>
                Silver Corporate
                </label>
            </div>
            <div class="checkbox disabled">
                <label>
                <input type="checkbox" value="" checked disabled>
                Silver Domestic
                </label>
            </div>
            <div class="checkbox disabled">
                <label>
                <input type="checkbox" value="" checked disabled>
                Bronze Corporate
                </label>
            </div>
            <div class="checkbox disabled">
                <label>
                <input type="checkbox" value="" checked disabled>
                Bronze Domestic
                </label>
            </div>
            <div class="checkbox disabled">
                <label>
                <input type="checkbox" value="" checked disabled>
                Bronze Young
                </label>
            </div>
        </div>
        <div class="col-md-3 col-xs-6" id="policy_list">
            <label data-toggle="tooltip" data-placement="right" title="The following policies can be used in any mitigation plan. In next releases it will be possible to deactivate policies">Policies: </label>
        </div>
        <div class="col-md-3 col-xs-0"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <label class="col-md-3 col-xs-3" data-toggle="tooltip" data-placement="top" title="Ratios can be expressed as percentages (%) or as unit fraction (between 0 and 1)">Ratios:</label>
        <div class="col-md-7 col-xs-9"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-3 col-xs-4">
            <label data-toggle="tooltip" data-placement="top" title="This ratio states whether customer group shares are percentages or unit fractions">User share ratio (input):</label>
            <br />
            <div class="btn-group" role="group" id="user_share_ratio">
                <button type="button" class="btn btn-default">Unit</button>
                <button type="button" class="btn btn-default">Percentage</button>
            </div>
        </div>
        <div class="col-md-3 col-xs-4">
            <label data-toggle="tooltip" data-placement="top" title="This ratio tells the simulator how to describe KPI gains when providing results">KPI gain (output):</label>
            <br />
            <div class="btn-group" role="group" id="kpi_gain_ratio">
                <button type="button" class="btn btn-default">Unit</button>
                <button type="button" class="btn btn-default">Percentage</button>
            </div>
        </div>
        <div class="col-md-3 col-xs-4">
            <label data-toggle="tooltip" data-placement="top" title="This ratio tells the simulator how to describe KPI gains when providing results">Global KPI gain (output):</label>
            <br />
            <div class="btn-group" role="group" id="global_gain_ratio">
                <button type="button" class="btn btn-default">Unit</button>
                <button type="button" class="btn btn-default">Percentage</button>
            </div>
        </div>
        <div class="col-md-1 col-xs-0"></div>
    </div>
    </div>

    <!-- Recommendation Tab-->
    <div class="container tab-pane fade" id="recommendation">
    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <label class="col-md-3 col-xs-3 top-heading" data-toggle="tooltip" data-placement="top" title="Maximum value of a given policy (as percentage).">Limits:</label>
        <div class="col-md-7 col-xs-9"></div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-0"></div>
        <div class="col-md-2 col-xs-4">
        <label data-toggle="tooltip" data-placement="top" title="Maximum ratio of customers Wifi Offloading can be applied to">Wifi Off-loading</label>
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Ratio" value="0" id="wifi_limit">
                    <div class="input-group-addon">%</div>
                </div>
            </div>
        </form>
        </div>
        <div class="col-md-2 col-xs-4">
        <label data-toggle="tooltip" data-placement="top" title="Maximum ratio of customers Switch to 3G can be applied to">Switch to 3G</label>
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Ratio" value="0" id="to3g_limit">
                    <div class="input-group-addon">%</div>
                </div>
            </div>
        </form>
        </div>
        <div class="col-md-2 col-xs-4">
        <label data-toggle="tooltip" data-placement="top" title="Maximum ratio of customers Video Acceleration can be applied to">Video Acceleration</label/>
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Ratio" value="0" id="video_acceleration_limit">
                    <div class="input-group-addon">%</div>
                </div>
            </div>
        </form>
        </div>
        <div class="col-md-3 col-xs-0"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <label class="col-md-3 col-xs-3 top-heading" data-toggle="tooltip" data-placement="top" title="Selected policies are those that cannot be applied to given customer groups.">Not applicable policies:</label>
        <div class="col-md-7 col-xs-9"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-8 col-xs-12">
        <table class="table table-hover" id="policy_table">
            <thead>
            <tr>
                <th>Policy</th>
                <th class="cell_centered">Gold</th>
                <th class="cell_centered">Silver<br/>corporate</th>
                <th class="cell_centered">Silver<br/>domestic</th>
                <th class="cell_centered">Bronze<br/>corporate</th>
                <th class="cell_centered">Bronze<br/>domestic</th>
                <th class="cell_centered">Silver<br/>young</th>
            </tr>
            </thead>
            <tbody>
            <tr id="wifi_contraints_form">
                <th>Wifi Offload</th>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
            </tr>
            <tr id="to3g_contraints_form">
                <th>Switch to 3G</th>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
            </tr>
            <tr id="traffic_gating_video_contraints_form">
                <th>Traffic Gating (Video)</th>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
            </tr>
            <tr id="traffic_gating_file_transfer_contraints_form">
                <th>Traffic Gating (File Transfer)</th>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
            </tr>
            <tr id="traffic_gating_web_browsing_contraints_form">
                <th>Traffic Gating (Web Browsing)</th>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
            </tr>
            <tr id="traffic_throttling_3000_contraints_form">
                <th>Traffic Throttling (3 Mbps)</th>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
            </tr>
            <tr id="traffic_throttling_1000_contraints_form">
                <th>Traffic Throttling (1 Mbps)</th>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
            </tr>
            <tr id="to3g_contraints_form">
                <th>Switch to 3G</th>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
            </tr>
            <tr id="traffic_throttling_64_contraints_form">
                <th>Traffic Throttling (64 kbps)</th>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
            </tr>
            <tr id="video_acceleration_contraints_form">
                <th>Video Acceleration</th>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
                <td class="cell_centered"><div class="checkbox"><input class="checkbox_centered" type="checkbox" value="" checked></div></td>
            </tr>
            </tbody>
        </table>
        </div>
        <div class="col-md-2 col-xs-0"></div>
    </div>
    </div>

    <!-- Look and Feel Tab-->
    <div class="container tab-pane fade" id="looknfeel">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 top-heading"><label>Choose among the different available skins</label></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5 top-heading"><input type="radio" name="skin" value="ericsson" style="vertical-align: middle;"><img src="/static/img/Ericsson_logo.png" width="120px" style="vertical-align: middle;"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5 top-heading"><input type="radio" name="skin" value="ontic" style="vertical-align: middle;"><img src="/static/img/ontic.png" width="120px" style="vertical-align: middle; padding-left:15px"></div>
    </div>
    </div>

    <!-- Policy Tuning tab-->
    <div class="container tab-pane fade" id="policytuning">
    <div class="row">
        <div class="col-md-3 col-xs-0"></div>
        <div class="col-md-3 col-xs-6">
        <label data-toggle="tooltip" data-placement="top" class="top-heading" title="Ratio of customers with an ANDSF client (that is, customers that can be offloaded to WiFi)">Wifi Off-loading</label>
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">ANDSF ratio</div>
                    <input type="number" class="form-control" placeholder="Ratio" value="0" id="andsf_ratio">
                    <div class="input-group-addon">%</div>
                </div>
            </div>
        </form>
        </div>
        <div class="col-md-3 col-xs-6">
        <label data-toggle="tooltip" data-placement="top" class="top-heading" title="Enhancement ratio when video acceleration (Service Chaining) is introduced">Video Acceleration</label/>
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Saving ratio</div>
                    <input type="number" class="form-control" placeholder="Ratio" value="0" id="video_acceleration_ratio">
                    <div class="input-group-addon">%</div>
                </div>
            </div>
        </form>
        </div>
        <div class="col-md-3 col-xs-0"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-0"></div>
        <div class="col-md-4 col-xs-12">
        <label data-toggle="tooltip" data-placement="top" class="top-heading" title="Ratio of each type of traffic - needed for Traffic Gating policies">Traffic Shares</label>
        <form class="form-inline" id="traffic_mix">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Video Services</div>
                    <input type="number" class="form-control" placeholder="Ratio" value="0" id="video_share">
                    <div class="input-group-addon">%</div>
                </div>
                <div class="input-group">
                    <div class="input-group-addon">Web Browsing</div>
                    <input type="number" class="form-control" placeholder="Ratio" value="0" id="web_browsing_share">
                    <div class="input-group-addon">%</div>
                </div>
                <div class="input-group">
                    <div class="input-group-addon">File Transfer&nbsp;&nbsp;&nbsp;</div>
                    <input type="number" class="form-control" placeholder="Ratio" value="0" id="file_transfer_share">
                    <div class="input-group-addon">%</div>
                </div>
            </div>
        </form>
        </div>
        <div class="col-md-4 col-xs-0"></div>
    </div>
    </div>

    <!-- KPI Thresholds tab-->
    <div class="container tab-pane fade" id="kpithresholds">
    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-8 col-xs-12">
        <table class="table table-hover" id="kpi_table">
            <thead>
            <tr>
                <th><label data-toggle="tooltip" data-placement="top" title="This sections enables the configuration of thresholds related to KPI's">KPI</label></th>
                <th><label data-toggle="tooltip" data-placement="top" title="Best possible value of the given KPI">Best value</label></th>
                <th><label data-toggle="tooltip" data-placement="top" title="Critical value of the given KPI. QoE is no longer acceptable">Critical value</label></th>
                <th><label data-toggle="tooltip" data-placement="top" title="Worst possible value of the given KPI">Worst value</label></th>
                <th><label data-toggle="tooltip" data-placement="top" title="Estimated value of the given KPI when the customer is offloaded to WiFi">When offloaded to Wi-Fi</label></th>
                <th><label data-toggle="tooltip" data-placement="top" title="Estimated value of the given KPI when the customer is switched to 3G">When switched to 3G</label></th>
            </tr>
            </thead>
            <tbody>
            <tr id="vfr_form">
                <th>Video Freeze Rate</th>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value" disabled>
                    <div class="input-group-addon">%</div>
                </div>
                </td>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value" disabled>
                    <div class="input-group-addon">%</div>
                </div>
                </td>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value" disabled>
                    <div class="input-group-addon">%</div>
                </div>
                </td>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value">
                    <div class="input-group-addon">%</div>
                </div>
                </td>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value">
                    <div class="input-group-addon">%</div>
                </div>
                </td>
            </tr>
            <tr id="va_form">
                <th>Video Accessibility</th>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value" disabled>
                    <div class="input-group-addon">%</div>
                </div>
                </td>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value" disabled>
                    <div class="input-group-addon">%</div>
                </div>
                </td>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value" disabled>
                    <div class="input-group-addon">%</div>
                </div>
                </td>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value">
                    <div class="input-group-addon">%</div>
                </div>
                </td>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value">
                    <div class="input-group-addon">%</div>
                </div>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div class="col-md-2 col-xs-0"></div>
    </div>
    </div>

    <!-- Customer Group Weights tab-->
    <div class="container tab-pane fade" id="cgweights">
    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-8 col-xs-12 top-heading">
            <label>Assigned relevance of each customer group<br/><small>(5 is the highest and 1 the lowest)</small></label>
        </div>
        <div class="col-md-2 col-xs-0"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-4 col-xs-6 top-heading">
            <label>Gold: </label>
            <div class="btn-group pull-right" role="group" id="gold_weight">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
            </div>
            <br/>
            <br/>
            <label>Silver Corporate: </label>
            <div class="btn-group pull-right" role="group" id="silver_corporate_weight">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
            </div>
            <br/>
            <br/>
            <label>Silver Domestic: </label>
            <div class="btn-group pull-right" role="group" id="silver_domestic_weight">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
            </div>
        </div>
        <div class="col-md-4 col-xs-6 top-heading">
            <label>Bronze Corporate: </label>
            <div class="btn-group pull-right" role="group" id="bronze_corporate_weight">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
            </div>
            <br/>
            <br/>
            <label>Bronze Domestic: </label>
            <div class="btn-group pull-right" role="group" id="bronze_domestic_weight">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
            </div>
            <br/>
            <br/>
            <label>Bronze Young: </label>
            <div class="btn-group pull-right" role="group" id="bronze_young_weight">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
            </div>
        </div>
        <div class="col-md-2 col-xs-0"></div>
    </div>
    </div>
    <button type="button" class="btn btn-primary center-block top-buffer" id="submit_button">Submit new configuration</button>
</div>
<!--
<div class="container" id="control_container">
    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <legend class="col-md-8 col-xs-6">General</legend>
        <div class="col-md-2 col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-3 col-xs-4">
            <label data-toggle="tooltip" data-placement="top" title="KPI gain can be modelled using three different types of functions">Type of KPI Gain Function: </label>
            <br/>
            <div class="btn-group" role="group" id="function_type">
                <button type="button" class="btn btn-default" value="linear">Linear</button>
                <button type="button" class="btn btn-default" value="logistic">Logistic</button>
                <button type="button" class="btn btn-default" value="exponentiation">Exponentiation</button>
            </div>
        </div>
        <div class="col-md-3 col-xs-4">
            <div class="form-group">
            <label for="input_log_parameter" class="control-label" data-toggle="tooltip" data-placement="top" title="This parameter states how steep the logistic function in. It can't be changed in this tool release">Logistic function parameter</label>
            <p class="form-control-static" id="input_log_parameter"></p>
            </div>
        </div>
        <div class="col-md-3 col-xs-4">
            <div class="form-group">
            <label for="input_exp_parameter" class="control-label" data-toggle="tooltip" data-placement="top" title="This parameter states how steep the exponentiation function in. It can't be changed in this tool release">Exponentiation function parameter</label>
            <p class="form-control-static" id="input_exp_parameter"></p>
            </div>
        </div>
        <div class="col-md-1 col-xs-0"></div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-0"></div>
        <div class="col-md-3 col-xs-6" id="user_group_list">
            <label data-toggle="tooltip" data-placement="right" title="The following customer groups are currently available. In next releases it will be possible to create, remove, activate and deactivate customer groups">Customer groups: </label>
            <div class="checkbox disabled">
                <label>
                <input type="checkbox" value="" checked disabled>
                Gold
                </label>
            </div>
            <div class="checkbox disabled">
                <label>
                <input type="checkbox" value="" checked disabled>
                Silver Corporate
                </label>
            </div>
            <div class="checkbox disabled">
                <label>
                <input type="checkbox" value="" checked disabled>
                Silver Domestic
                </label>
            </div>
            <div class="checkbox disabled">
                <label>
                <input type="checkbox" value="" checked disabled>
                Bronze Corporate
                </label>
            </div>
            <div class="checkbox disabled">
                <label>
                <input type="checkbox" value="" checked disabled>
                Bronze Domestic
                </label>
            </div>
            <div class="checkbox disabled">
                <label>
                <input type="checkbox" value="" checked disabled>
                Bronze Young
                </label>
            </div>
        </div>
        <div class="col-md-3 col-xs-6" id="policy_list">
            <label data-toggle="tooltip" data-placement="right" title="The following policies can be used in any mitigation plan. In next releases it will be possible to deactivate policies">Policies: </label>
        </div>
        <div class="col-md-3 col-xs-0"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <label class="col-md-3 col-xs-3" data-toggle="tooltip" data-placement="top" title="Ratios can be expressed as percentages (%) or as unit fraction (between 0 and 1)">Ratios:</label>
        <div class="col-md-7 col-xs-9"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-3 col-xs-4">
            <label data-toggle="tooltip" data-placement="top" title="This ratio states whether customer group shares are percentages or unit fractions">User share ratio (input):</label>
            <br />
            <div class="btn-group" role="group" id="user_share_ratio">
                <button type="button" class="btn btn-default">Unit</button>
                <button type="button" class="btn btn-default">Percentage</button>
            </div>
        </div>
        <div class="col-md-3 col-xs-4">
            <label data-toggle="tooltip" data-placement="top" title="This ratio tells the simulator how to describe KPI gains when providing results">KPI gain (output):</label>
            <br />
            <div class="btn-group" role="group" id="kpi_gain_ratio">
                <button type="button" class="btn btn-default">Unit</button>
                <button type="button" class="btn btn-default">Percentage</button>
            </div>
        </div>
        <div class="col-md-3 col-xs-4">
            <label data-toggle="tooltip" data-placement="top" title="This ratio tells the simulator how to describe KPI gains when providing results">Global KPI gain (output):</label>
            <br />
            <div class="btn-group" role="group" id="global_gain_ratio">
                <button type="button" class="btn btn-default">Unit</button>
                <button type="button" class="btn btn-default">Percentage</button>
            </div>
        </div>
        <div class="col-md-1 col-xs-0"></div>
    </div>
    
    <div class="row top-buffer">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-8 col-xs-6">
            <legend data-toggle="tooltip" data-placement="top" title="This sections states how the policies shall behave">Policy tuning</legend>
        </div>
        <div class="col-md-2 col-xs-6"></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-3 col-xs-4">
        <label data-toggle="tooltip" data-placement="top" title="Ratio of customers with an ANDSF client (that is, customers that can be offloaded to WiFi)">Wifi Off-loading</label>
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">ANDSF ratio</div>
                    <input type="number" class="form-control" placeholder="Ratio" value="0" id="andsf_ratio">
                    <div class="input-group-addon">%</div>
                </div>
            </div>
        </form>
        </div>
        <div class="col-md-3 col-xs-4">
        <label data-toggle="tooltip" data-placement="top" title="Ratio of each type of traffic - needed for Traffic Gating policies">Traffic Shares</label>
        <form class="form-inline" id="traffic_mix">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Video</div>
                    <input type="number" class="form-control" placeholder="Ratio" value="0" id="video_share">
                    <div class="input-group-addon">%</div>
                </div>
                <div class="input-group">
                    <div class="input-group-addon">Web Browsing</div>
                    <input type="number" class="form-control" placeholder="Ratio" value="0" id="web_browsing_share">
                    <div class="input-group-addon">%</div>
                </div>
                <div class="input-group">
                    <div class="input-group-addon">File Transfer</div>
                    <input type="number" class="form-control" placeholder="Ratio" value="0" id="file_transfer_share">
                    <div class="input-group-addon">%</div>
                </div>
            </div>
        </form>
        </div>
        <div class="col-md-3 col-xs-4">
        <label data-toggle="tooltip" data-placement="top" title="Enhancement ratio when video acceleration (Service Chaining) is introduced">Video Acceleration</label/>
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Saving ratio</div>
                    <input type="number" class="form-control" placeholder="Ratio" value="0" id="video_acceleration_ratio">
                    <div class="input-group-addon">%</div>
                </div>
            </div>
        </form>
        </div>
        <div class="col-md-1 col-xs-0"></div>
    </div>

    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-8 col-xs-6">
            <legend data-toggle="tooltip" data-placement="top" title="This sections enables the configuration of thresholds related to KPI's">KPI thresholds</legend>
        </div>
        <div class="col-md-2 col-xs-6"></div>
    </div>

    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-8 col-xs-12">
        <table class="table table-hover" id="kpi_table">
            <thead>
            <tr>
                <th></th>
                <th><label data-toggle="tooltip" data-placement="top" title="Best possible value of the given KPI">Best value</label></th>
                <th><label data-toggle="tooltip" data-placement="top" title="Critical value of the given KPI. QoE is no longer acceptable">Critical value</label></th>
                <th><label data-toggle="tooltip" data-placement="top" title="Worst possible value of the given KPI">Worst value</label></th>
                <th><label data-toggle="tooltip" data-placement="top" title="Estimated value of the given KPI when the customer is offloaded to WiFi">When offloaded to Wi-Fi</label></th>
                <th><label data-toggle="tooltip" data-placement="top" title="Estimated value of the given KPI when the customer is switched to 3G">When switched to 3G</label></th>
            </tr>
            </thead>
            <tbody>
            <tr id="vfr_form">
                <th>Video Freeze Rate</th>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value" disabled>
                    <div class="input-group-addon">%</div>
                </div>
                </td>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value" disabled>
                    <div class="input-group-addon">%</div>
                </div>
                </td>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value" disabled>
                    <div class="input-group-addon">%</div>
                </div>
                </td>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value">
                    <div class="input-group-addon">%</div>
                </div>
                </td>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value">
                    <div class="input-group-addon">%</div>
                </div>
                </td>
            </tr>
            <tr id="va_form">
                <th>Video Accessibility</th>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value" disabled>
                    <div class="input-group-addon">%</div>
                </div>
                </td>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value" disabled>
                    <div class="input-group-addon">%</div>
                </div>
                </td>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value" disabled>
                    <div class="input-group-addon">%</div>
                </div>
                </td>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value">
                    <div class="input-group-addon">%</div>
                </div>
                </td>
                <td>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Value">
                    <div class="input-group-addon">%</div>
                </div>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div class="col-md-2 col-xs-0"></div>
    </div>


    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-8 col-xs-6">
            <legend data-toggle="tooltip" data-placement="top" title="Assigned relevance of each customer group: 5 is the highest and 1 the lowest">Customer group weights</legend>
        </div>
        <div class="col-md-2 col-xs-6"></div>
    </div>

    <div class="row">
        <div class="col-md-3 col-xs-0"></div>
        <div class="col-md-3 col-xs-6">
            <label>Gold: </label>
            <div class="btn-group pull-right" role="group" id="gold_weight">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
            </div>
            <br/>
            <br/>
            <label>Silver Corporate: </label>
            <div class="btn-group pull-right" role="group" id="silver_corporate_weight">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
            </div>
            <br/>
            <br/>
            <label>Silver Domestic: </label>
            <div class="btn-group pull-right" role="group" id="silver_domestic_weight">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
            </div>
        </div>
        <div class="col-md-3 col-xs-6">
            <label>Bronze Corporate: </label>
            <div class="btn-group pull-right" role="group" id="bronze_corporate_weight">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
            </div>
            <br/>
            <br/>
            <label>Bronze Domestic: </label>
            <div class="btn-group pull-right" role="group" id="bronze_domestic_weight">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
            </div>
            <br/>
            <br/>
            <label>Bronze Young: </label>
            <div class="btn-group pull-right" role="group" id="bronze_young_weight">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
                <button type="button" class="btn btn-default">5</button>
            </div>
        </div>
        <div class="col-md-3 col-xs-0"></div>
    </div>
    <button type="button" class="btn btn-primary center-block top-buffer" id="submit_button">Submit new configuration</button>
</div>-->
<div class="container bs-docs-container" style="display: none;" id="success_container">
    <div class="row">
        <div class="col-md-3 col-xs-0" role="complementary"></div>
        <div class="col-md-6 col-xs-12" role="main">
            <div class="bs-docs-section">
                <h1 id="overview" class="page-header">Thank you!!!</h1>
                <p class="lead">Your changes to the PGF Mitigation Plan Simulation tool configuration have been processed and will be effective immediately.</p>
            </div>
        </div>
        <div class="col-md-3 col-xs-0" role="complementary"></div>
    </div>
    <button type="button" class="btn btn-primary center-block" id="reload_button">Update again the configuration</button>
</div>
<p id="json"></p>
<div class="container top-buffer">
    <!-- Site footer -->
    <footer class="footer"></footer>
</div>

<script>
     // global variables served by the environment
    var MANAGE_CONFIG_URL = '/{{path}}'
    var STORED_CONF = $.parseJSON('{{json_object|safe}}');
    var LOGO1 = STORED_CONF["general"]["skin"]
   
    // Look and Feel management
    $('#logo').attr('id','logo_'+LOGO1);
    $('.footer').html(FOOTER);

    // function that shows the initial form values from INITIAL_JSON
    //$(document).ready (show_initial_values);
    $(document).ready (function () {
        show_initial_values(STORED_CONF);
        $('[data-toggle="tooltip"]').tooltip();
    });
    
    // function to always make a button active
    $('body').on('click', '.btn-group button', function (e) {
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
    });

    // submit function
    $('#submit_button').click (submit_conf_info);

    // configurate simulation again
    $('#reload_button').click(function() {
        location.reload(true);
    });
    
</script>
</body>
</html>
