{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

    <title>PGF Mitigation Plan Simulation</title>
    <style type="text/css">
    .chart_legend {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
    .chart_fieldset {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
    }
    .regular-label {
        font-size: 1em;
        padding-right: 10px;
    }
    .share_table td {
        padding: 4px;
    }
    .share_table {
        width: auto;
    }
    .parameter_bandwidth_legend, .parameter_gating_legend {
        margin-bottom: 0;
        font-size: 0.95em;
        font-weight: bold;
    }
    .share_slider.slider-handle {
        background: lavender;
    }
    .alert {
        height: 0.6em;
        line-height: 0;
        display: none;
    }
    .close {
        line-height: 0 !important;
    }
    .share_group_value {
        margin-left: 10px;
    }
    #chart_container, #chart_title {
        display: none;
    }
    .chart_one, .chart_two, .chart_three {
        margin-right: 10px;
    }
    .policy_item {
        text-align: right;
        clear: both;
    }
    .policy_item input[type=checkbox], .policy_item label {
        float: left;
    }
    .policy_item input[type=radio] {
        margin-left: 10px;
        float: right;
    }
    .color-box {
        width: 15px;
        height: 10px;
        display: inline-block;
        background-color: #ccc;
        margin-right: 5px;
    }
    a.tip {
        outline:none;
    }
    a.tip strong {
        line-height:20px;
    }
    a.tip:hover {
        text-decoration:none;
    } 
    a.tip span {
        z-index:10;
        display:none;
        padding:4px 10px;
        margin-top:-10px;
        margin-left:10px;
        width:250px;
        line-height:15px;
    }
    a.tip:hover span{
        display:inline;
        position:absolute;
        color:#111;
        border:1px solid #DCA;
        background:#fffAF0;
    }
    .callout {
        z-index:20;
        position:absolute;
        top:30px;
        border:0;
        left:-12px;
    }
    
    /*CSS3 extras*/
    a.tip span {
        border-radius:4px;
        box-shadow: 5px 5px 8px #CCC;
    }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.1.0/bootstrap-slider.min.js"></script>
    <script type="text/javascript" src='{% static "js/pgf_simulation.js" %}'></script>
    <script type="text/javascript" src='{% static "js/pgf_simulation_charts.js" %}'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/5.1.0/css/bootstrap-slider.css">
    <link rel="stylesheet" href='{% static "css/pgf_simulation.css" %}'>
    <link rel="shortcut icon" href='{% static "ico/favicon.ico" %}'>
</head>

<body>

<div class="container">
      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
    <div class="masthead">
        <h3 class="text-muted">Adaptive Quality of Experience</h3>
        <nav>
        <ul class="nav nav-justified">
            <li><a href="#">Home</a></li>
            <li class="active"><a href="#">Mitigation Plans Simulation</a></li>
            <li><a href="/sim_recommend/">Mitigation Plan Recommendation</a></li>
            <li><a href="/sim_admin/">Mitigation Plans Simulation Administration</a></li>
            <li><a href='{% static "html/about.html" %}'>About</a></li>
        </ul>
        </nav>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron" id="jumbotron_pgf">
        <div class="container">
            <div class="row">
                <div class="col-md-3" id="logo"></div><div class="col-md-9"></div>
            </div>
        </div>
        <h2>PGF Mitigation Plan Simulation Home</h2>
        <p class="lead">Simulate up to four mitigation plans, and more</p>
    </div>
</div>
    
<div class="container" id="control_container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <legend data-toggle="tooltip" data-placement="top" title="This section allows to choose one Key Performance Indicator (KPI). At least one must be selected">Select KPI to simulate</legend>
            <table>
                <tr><td><input type="checkbox" value="video_freeze_rate" class="kpi_checkbox" id="vfr"><label class="regular-label" for="vfr" >Video Freeze Rate</label></td></tr>
                <tr><td><input type="checkbox" value="video_accessibility" class="kpi_checkbox" id="va"><label class="regular-label" for="va">Video Accessibility</label</td></tr>
            </table>
            <div class="alert alert-danger" role="alert" id="alert_kpi">
                <button type="button" class="close"><span onclick="$(this).closest('.alert').hide();">&times;</span></button>
                You must choose at least <strong>one KPI</strong>
            </div>
        </div>
        <div class="col-md-4" id="planselector">
            <legend data-toggle="tooltip" data-placement="top" title="You can simulate up to four mitigation plans">Select number of plans</legend>
            <div class="btn-group" role="group" id="plsel_buttons">
                <button type="button" class="btn btn-default active" value="1" id="planselector_1">1</button>
                <button type="button" class="btn btn-default" value="2" id="planselector_2">2</button>
                <button type="button" class="btn btn-default" value="3" id="planselector_3">3</button>
                <button type="button" class="btn btn-default" value="4" id="planselector_4">4</button>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-6 col-xs-12">
            <legend data-toggle="tooltip" data-placement="top" title="Below, all the available customer groups are shown. Select some (or all) of them and choose the share of the group. Total must be 100">Select customer groups and shares</legend>
            <table class="share_table">
                <tr>
                <td><input type="checkbox" class="share_checkbox" id="gold_group"></td>
                <td><label class="regular-label" for="gold_group">Gold</label>
                <input id="share_gold" class="share_slider" data-slider-id='gold_slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-enabled="false"/></td>
                <td><label id="gold_slider_value" class="share_group_value">0 %</label></td>
                </tr>
                <tr>
                <td>
                <input type="checkbox" class="share_checkbox" id="silver_domestic_group"></td>
                <td><label class="regular-label" for="silver_domestic_group">Silver Domestic</label>
                <input id="share_silver_domestic" class="share_slider" data-slider-id='silver_domestic_slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-enabled="false"/></td>
                <td><label id="silver_domestic_slider_value" class="share_group_value">0 %</label></td>
                </tr>
                <tr>
                <td><input type="checkbox" class="share_checkbox" id="silver_corporate_group"></td>
                <td><label class="regular-label" for="silver_corporate_group">Silver Corporate</label>
                <input id="share_silver_corporate" class="share_slider" data-slider-id='silver_corporate_slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-enabled="false"/></td>
                <td><label id="silver_corporate_slider_value" class="share_group_value">0 %</label></td>
                </tr>
                <tr>
                <td><input type="checkbox" class="share_checkbox" id="bronze_domestic_group"></td>
                <td><label class="regular-label" for="bronze_domestic_group">Bronze Domestic</label>
                <input id="share_bronze_domestic" class="share_slider" data-slider-id='bronze_domestic_slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-enabled="false"/></td>
                <td><label id="bronze_domestic_slider_value" class="share_group_value">0 %</label></td>
                </tr>
                <tr>
                <td><input type="checkbox" class="share_checkbox" id="bronze_corporate_group"></td>
                <td><label class="regular-label" for="bronze_corporate_group">Bronze Corporate</label>
                <input id="share_bronze_corporate" class="share_slider" data-slider-id='bronze_corporate_slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-enabled="false"/></td>
                <td><label id="bronze_corporate_slider_value" class="share_group_value">0 %</label></td>
                </tr>
                <tr>
                <td><input type="checkbox" class="share_checkbox" id="bronze_young_group"></td>
                <td><label class="regular-label" for="bronze_young_group">Bronze Young</label>
                <input id="share_bronze_young" class="share_slider" data-slider-id='bronze_young_slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-enabled="false"/></td>
                <td><label id="bronze_young_slider_value" class="share_group_value">0 %</label></td>
                </tr>
                <tr>
                <td></td>
                <td><label class="regular-label">Total</label>
                <input id="share_total" data-slider-id='share_slider_total' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-enabled="false"/></td>
                <td><label id="share_slider_total_value" class="share_group_value">0 %</label></td>
                </tr>
            </table>
            <div class="alert alert-danger" role="alert" id="alert_share_1">
                <button type="button" class="close"><span onclick="$(this).closest('.alert').hide();">&times;</span></button>
                You must select at least <strong>one customer group</strong>
            </div>
            <div class="alert alert-danger" role="alert" id="alert_share_2">
                <button type="button" class="close"><span onclick="$(this).closest('.alert').hide();">&times;</span></button>
                <span></span>
            </div>
        </div>
        <div class="col-md-4 col-xs-0"></div>
    </div>
     
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <legend data-toggle="tooltip" data-placement="bottom" title="Each mitigation comprises a set of mitigation policies applied to customer groups. Each group is assigned a policy. Several groups can share the same policy">Configure mitigation plans</legend>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <table class="plan_pane" id="plan_1">
                <tr>
                <td>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-th-list"></span></span>
                    <input type="text" class="form-control plan_name" placeholder="Plan name" value="Plan #1" id="plan_name_1" />
                </div>
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close"><span onclick="$(this).closest('.alert').hide();">&times;</span></button>
                    <strong>Empty plan name!</strong> Plans must have a name.
                </div>
                <div name="gold_1" class="policy_item">
                <input type="checkbox" name="share" value="gold" id="gold_1_check"><label for"gold_1_check">Policy for Gold users: </label>
                <select class="gold_1_policy" id="gold_1_select" onchange="show_options (this.options[this.selectedIndex].value, 'gold_1', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select><input type="radio" class='clone_radio' id="clone_gold_1">
                </div>
                <fieldset id="gold_1_bandwidth" class='gold_1_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="right">Please select throttled bandwidth:</legend>
                    <input type="radio" name="gold_1_radio" id="gold_1_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="gold_1_radio" id="gold_1_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="gold_1_radio" id="gold_1_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="gold_1_gating" class='gold_1_additional_options'>
                <legend class="parameter_gating_legend" data-placement="right">Please select services to ban:</legend>
                    <input type="radio" name="gold_1_one" id="gold_1_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="gold_1_two" id="gold_1_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));"  /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="gold_1_three" id="gold_1_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="silver_domestic_1" class="policy_item">
                <input type="checkbox" name="share" value="silver_domestic" id="silver_domestic_1_check"><label for"silver_domestic_1_check">Policy for Silver Domestic users: </label>
                <select class="silver_domestic_1_policy" id="silver_domestic_1_select" onchange="show_options (this.options[this.selectedIndex].value, 'silver_domestic_1', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select><input type="radio" class='clone_radio' id="clone_silver_domestic_1">
                </div>
                <fieldset id="silver_domestic_1_bandwidth" class='silver_domestic_1_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="right">Please select throttled bandwidth:</legend>
                    <input type="radio" name="silver_domestic_1_radio" id="silver_domestic_1_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="silver_domestic_1_radio" id="silver_domestic_1_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="silver_domestic_1_radio" id="silver_domestic_1_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="silver_domestic_1_gating" class='silver_domestic_1_additional_options'>
                <legend class="parameter_gating_legend" data-placement="right">Please select services to ban:</legend>
                    <input type="radio" name="silver_domestic_1_one" id="silver_domestic_1_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="silver_domestic_1_two" id="silver_domestic_1_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="silver_domestic_1_three" id="silver_domestic_1_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="silver_corporate_1" class="policy_item">
                <input type="checkbox" name="share" value="silver_corporate" id="silver_corporate_1_check"><label for"silver_corporate_1_check">Policy for Silver Corporate users: </label>
                <select class="silver_corporate_1_policy" id="silver_corporate_1_select" onchange="show_options (this.options[this.selectedIndex].value, 'silver_corporate_1', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select><input type="radio" class='clone_radio' id="clone_silver_corporate_1">
                </div>
                <fieldset id="silver_corporate_1_bandwidth" class='silver_corporate_1_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="right">Please select throttled bandwidth:</legend>
                    <input type="radio" name="silver_corporate_1_radio" id="silver_corporate_1_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="silver_corporate_1_radio" id="silver_corporate_1_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="silver_corporate_1_radio" id="silver_corporate_1_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="silver_corporate_1_gating" class='silver_corporate_1_additional_options'>
                <legend class="parameter_gating_legend" data-placement="right">Please select services to ban:</legend>
                    <input type="radio" name="silver_corporate_1_one" id="silver_corporate_1_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="silver_corporate_1_two" id="silver_corporate_1_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="silver_corporate_1_three" id="silver_corporate_1_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="bronze_domestic_1" class="policy_item">
                <input type="checkbox" name="share" value="bronze_domestic" id="bronze_domestic_1_check"><label for"bronze_domestic_1_check">Policy for Bronze Domestic users: </label>
                <select class="bronze_domestic_1_policy" id="bronze_domestic_1_select" onchange="show_options (this.options[this.selectedIndex].value, 'bronze_domestic_1', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select><input type="radio" class='clone_radio' id="clone_bronze_domestic_1">
                </div>
                <fieldset id="bronze_domestic_1_bandwidth" class='bronze_domestic_1_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="right">Please select throttled bandwidth:</legend>
                    <input type="radio" name="bronze_domestic_1_radio" id="bronze_domestic_1_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="bronze_domestic_1_radio" id="bronze_domestic_1_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="bronze_domestic_1_radio" id="bronze_domestic_1_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="bronze_domestic_1_gating" class='bronze_domestic_1_additional_options'>
                <legend class="parameter_gating_legend" data-placement="right">Please select services to ban:</legend>
                    <input type="radio" name="bronze_domestic_1_one" id="bronze_domestic_1_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="bronze_domestic_1_two" id="bronze_domestic_1_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="bronze_domestic_1_three" id="bronze_domestic_1_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="bronze_corporate_1" class="policy_item">
                <input type="checkbox" name="share" value="bronze_corporate" id="bronze_corporate_1_check"><label for"bronze_corporate_1_check">Policy for Bronze Corporate users: </label>
                <select class="bronze_corporate_1_policy" id="bronze_corporate_1_select" onchange="show_options (this.options[this.selectedIndex].value, 'bronze_corporate_1', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select><input type="radio" class='clone_radio' id="clone_bronze_corporate_1">
                </div>
                <fieldset id="bronze_corporate_1_bandwidth" class='bronze_corporate_1_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="right">Please select throttled bandwidth:</legend>
                    <input type="radio" name="bronze_corporate_1_radio" id="bronze_corporate_1_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="bronze_corporate_1_radio" id="bronze_corporate_1_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="bronze_corporate_1_radio" id="bronze_corporate_1_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="bronze_corporate_1_gating" class='bronze_corporate_1_additional_options'>
                <legend class="parameter_gating_legend" data-placement="right">Please select services to ban:</legend>
                    <input type="radio" name="bronze_corporate_1_one" id="bronze_corporate_1_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="bronze_corporate_1_two" id="bronze_corporate_1_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="bronze_corporate_1_three" id="bronze_corporate_1_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="bronze_young_1" class="policy_item">
                <input type="checkbox" name="share" value="bronze_young" id="bronze_young_1_check"><label for"bronze_young_1_check">Policy for Bronze Young users: </label>
                <select class="bronze_young_1_policy" id="bronze_young_1_select" onchange="show_options (this.options[this.selectedIndex].value, 'bronze_young_1', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select><input type="radio" class='clone_radio' id="bronze_young_1">
                </div>
                <fieldset id="bronze_young_1_bandwidth" class='bronze_young_1_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="right">Please select throttled bandwidth:</legend>
                    <input type="radio" name="bronze_young_1_radio" id="bronze_young_1_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="bronze_young_1_radio" id="bronze_young_1_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="bronze_young_1_radio" id="bronze_young_1_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="bronze_young_1_gating" class='bronze_young_1_additional_options'>
                <legend class="parameter_gating_legend" data-placement="right">Please select services to ban:</legend>
                    <input type="radio" name="bronze_young_1_one" id="bronze_young_1_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="bronze_young_1_two" id="bronze_young_1_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="bronze_young_1_three" id="bronze_young_1_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div class="alert alert-danger" role="alert" id="alert_plan_1">
                    <button type="button" class="close"><span onclick="$(this).closest('.alert').hide();">&times;</span></button>
                    The plan includes <strong>no policy</strong> for selected groups
                </div>
                </td>
            </tr>
            </table>
        </div>
        <div class="col-md-5">
            <table style="display: none;" class="plan_pane" id="plan_2">
            <tr>
                <td>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-th-list"></span></span>
                    <input type="text" class="form-control plan_name" placeholder="Plan name" value="Plan #2" id="plan_name_2" />
                </div>
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close"><span onclick="$(this).parent().hide();">&times;</span></button>
                    <strong>Empty plan name!</strong> Plans must have a name.
                </div>
                <div name="gold_2" class="policy_item">
                <input type="checkbox" name="share" value="gold" id="gold_2_check"><label for"gold_2_check">Policy for Gold users: </label>
                <select class="gold_2_policy" id="gold_2_select" onchange="show_options (this.options[this.selectedIndex].value, 'gold_2', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="gold_2_bandwidth" class='gold_2_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="left">Please select throttled bandwidth:</legend>
                    <input type="radio" name="gold_2_radio" id="gold_2_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="gold_2_radio" id="gold_2_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="gold_2_radio" id="gold_2_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="gold_2_gating" class='gold_2_additional_options'>
                <legend class="parameter_gating_legend" data-placement="left">Please select services to ban:</legend>
                    <input type="radio" name="gold_2_one" id="gold_2_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="gold_2_two" id="gold_2_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));"  /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="gold_2_three" id="gold_2_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="silver_domestic_2" class="policy_item">
                <input type="checkbox" name="share" value="silver_domestic" id="silver_domestic_2_check"><label for"silver_domestic_2_check">Policy for Silver Domestic users: </label>
                <select class="silver_domestic_2_policy" id="silver_domestic_2_select" onchange="show_options (this.options[this.selectedIndex].value, 'silver_domestic_2', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="silver_domestic_2_bandwidth" class='silver_domestic_2_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="left">Please select throttled bandwidth:</legend>
                    <input type="radio" name="silver_domestic_2_radio" id="silver_domestic_2_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="silver_domestic_2_radio" id="silver_domestic_2_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="silver_domestic_2_radio" id="silver_domestic_2_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="silver_domestic_2_gating" class='silver_domestic_2_additional_options'>
                <legend class="parameter_gating_legend" data-placement="left">Please select services to ban:</legend>
                    <input type="radio" name="silver_domestic_2_one" id="silver_domestic_2_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="silver_domestic_2_two" id="silver_domestic_2_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="silver_domestic_2_three" id="silver_domestic_2_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="silver_corporate_2" class="policy_item">
                <input type="checkbox" name="share" value="silver_corporate" id="silver_corporate_2_check"><label for"silver_corporate_2_check">Policy for Silver Corporate users: </label>
                <select class="silver_corporate_2_policy" id="silver_corporate_2_select" onchange="show_options (this.options[this.selectedIndex].value, 'silver_corporate_2', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="silver_corporate_2_bandwidth" class='silver_corporate_2_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="left">Please select throttled bandwidth:</legend>
                    <input type="radio" name="silver_corporate_2_radio" id="silver_corporate_2_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="silver_corporate_2_radio" id="silver_corporate_2_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="silver_corporate_2_radio" id="silver_corporate_2_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="silver_corporate_2_gating" class='silver_corporate_2_additional_options'>
                <legend class="parameter_gating_legend" data-placement="left">Please select services to ban:</legend>
                    <input type="radio" name="silver_corporate_2_one" id="silver_corporate_2_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="silver_corporate_2_two" id="silver_corporate_2_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="silver_corporate_2_three" id="silver_corporate_2_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="bronze_domestic_2" class="policy_item">
                <input type="checkbox" name="share" value="bronze_domestic" id="bronze_domestic_2_check"><label for"bronze_domestic_2_check">Policy for Bronze Domestic users: </label>
                <select class="bronze_domestic_2_policy" id="bronze_domestic_2_select" onchange="show_options (this.options[this.selectedIndex].value, 'bronze_domestic_2', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="bronze_domestic_2_bandwidth" class='bronze_domestic_2_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="left">Please select throttled bandwidth:</legend>
                    <input type="radio" name="bronze_domestic_2_radio" id="bronze_domestic_2_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="bronze_domestic_2_radio" id="bronze_domestic_2_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="bronze_domestic_2_radio" id="bronze_domestic_2_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="bronze_domestic_2_gating" class='bronze_domestic_2_additional_options'>
                <legend class="parameter_gating_legend" data-placement="left">Please select services to ban:</legend>
                    <input type="radio" name="bronze_domestic_2_one" id="bronze_domestic_2_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="bronze_domestic_2_two" id="bronze_domestic_2_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="bronze_domestic_2_three" id="bronze_domestic_2_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="bronze_corporate_2" class="policy_item">
                <input type="checkbox" name="share" value="bronze_corporate" id="bronze_corporate_2_check"><label for"bronze_corporate_2_check">Policy for Bronze Corporate users: </label>
                <select class="bronze_corporate_2_policy" id="bronze_corporate_2_select" onchange="show_options (this.options[this.selectedIndex].value, 'bronze_corporate_2', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="bronze_corporate_2_bandwidth" class='bronze_corporate_2_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="left">Please select throttled bandwidth:</legend>
                    <input type="radio" name="bronze_corporate_2_radio" id="bronze_corporate_2_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="bronze_corporate_2_radio" id="bronze_corporate_2_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="bronze_corporate_2_radio" id="bronze_corporate_2_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="bronze_corporate_2_gating" class='bronze_corporate_2_additional_options'>
                <legend class="parameter_gating_legend" data-placement="left">Please select services to ban:</legend>
                    <input type="radio" name="bronze_corporate_2_one" id="bronze_corporate_2_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="bronze_corporate_2_two" id="bronze_corporate_2_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="bronze_corporate_2_three" id="bronze_corporate_2_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="bronze_young_2" class="policy_item">
                <input type="checkbox" name="share" value="bronze_young" id="bronze_young_2_check"><label for"bronze_young_2_check">Policy for Bronze Young users: </label>
                <select class="bronze_young_2_policy" id="bronze_young_2_select" onchange="show_options (this.options[this.selectedIndex].value, 'bronze_young_2', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="bronze_young_2_bandwidth" class='bronze_young_2_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="left">Please select throttled bandwidth:</legend>
                    <input type="radio" name="bronze_young_2_radio" id="bronze_young_2_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="bronze_young_2_radio" id="bronze_young_2_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="bronze_young_2_radio" id="bronze_young_2_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="bronze_young_2_gating" class='bronze_young_2_additional_options'>
                <legend class="parameter_gating_legend" data-placement="left">Please select services to ban:</legend>
                    <input type="radio" name="bronze_young_2_one" id="bronze_young_2_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="bronze_young_2_two" id="bronze_young_2_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="bronze_young_2_three" id="bronze_young_2_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div class="alert alert-danger" role="alert" id="alert_plan_2">
                    <button type="button" class="close"><span onclick="$(this).closest('.alert').hide();">&times;</span></button>
                    The plan includes <strong>no policy</strong> for selected groups
                </div>
                </td>
            </tr>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
    
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <table style="display: none;" class="plan_pane" id="plan_3">
            <tr>
                <td>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-th-list"></span></span>
                    <input type="text" class="form-control plan_name" placeholder="Plan name" value="Plan #3" id="plan_name_3" />
                </div>
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    <strong>Empty plan name!</strong> Plans must have a name.
                </div>
                <div name="gold_3" class="policy_item">
                <input type="checkbox" name="share" value="gold" id="gold_3_check"><label for"gold_3_check">Policy for Gold users: </label>
                <select class="gold_3_policy" id="gold_3_select" onchange="show_options (this.options[this.selectedIndex].value, 'gold_3', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="gold_3_bandwidth" class='gold_3_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="right">Please select throttled bandwidth:</legend>
                    <input type="radio" name="gold_3_radio" id="gold_3_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="gold_3_radio" id="gold_3_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="gold_3_radio" id="gold_3_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="gold_3_gating" class='gold_3_additional_options'>
                <legend class="parameter_gating_legend" data-placement="right">Please select services to ban:</legend>
                    <input type="radio" name="gold_3_one" id="gold_3_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="gold_3_two" id="gold_3_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));"  /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="gold_3_three" id="gold_3_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="silver_domestic_3" class="policy_item">
                <input type="checkbox" name="share" value="silver_domestic" id="silver_domestic_3_check"><label for"silver_domestic_3_check">Policy for Silver Domestic users: </label>
                <select class="silver_domestic_3_policy" id="silver_domestic_3_select" onchange="show_options (this.options[this.selectedIndex].value, 'silver_domestic_3', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="silver_domestic_3_bandwidth" class='silver_domestic_3_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="right">Please select throttled bandwidth:</legend>
                    <input type="radio" name="silver_domestic_3_radio" id="silver_domestic_3_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="silver_domestic_3_radio" id="silver_domestic_3_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="silver_domestic_3_radio" id="silver_domestic_3_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="silver_domestic_3_gating" class='silver_domestic_3_additional_options'>
                <legend class="parameter_gating_legend" data-placement="right">Please select services to ban:</legend>
                    <input type="radio" name="silver_domestic_3_one" id="silver_domestic_3_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="silver_domestic_3_two" id="silver_domestic_3_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="silver_domestic_3_three" id="silver_domestic_3_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="silver_corporate_3" class="policy_item">
                <input type="checkbox" name="share" value="silver_corporate" id="silver_corporate_3_check"><label for"silver_corporate_3_check">Policy for Silver Corporate users: </label>
                <select class="silver_corporate_3_policy" id="silver_corporate_3_select" onchange="show_options (this.options[this.selectedIndex].value, 'silver_corporate_3', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="silver_corporate_3_bandwidth" class='silver_corporate_3_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="right">Please select throttled bandwidth:</legend>
                    <input type="radio" name="silver_corporate_3_radio" id="silver_corporate_3_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="silver_corporate_3_radio" id="silver_corporate_3_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="silver_corporate_3_radio" id="silver_corporate_3_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="silver_corporate_3_gating" class='silver_corporate_3_additional_options'>
                <legend class="parameter_gating_legend" data-placement="right">Please select services to ban:</legend>
                    <input type="radio" name="silver_corporate_3_one" id="silver_corporate_3_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="silver_corporate_3_two" id="silver_corporate_3_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="silver_corporate_3_three" id="silver_corporate_3_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="bronze_domestic_3" class="policy_item">
                <input type="checkbox" name="share" value="bronze_domestic" id="bronze_domestic_3_check"><label for"bronze_domestic_3_check">Policy for Bronze Domestic users: </label>
                <select class="bronze_domestic_3_policy" id="bronze_domestic_3_select" onchange="show_options (this.options[this.selectedIndex].value, 'bronze_domestic_3', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="bronze_domestic_3_bandwidth" class='bronze_domestic_3_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="right">Please select throttled bandwidth:</legend>
                    <input type="radio" name="bronze_domestic_3_radio" id="bronze_domestic_3_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="bronze_domestic_3_radio" id="bronze_domestic_3_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="bronze_domestic_3_radio" id="bronze_domestic_3_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="bronze_domestic_3_gating" class='bronze_domestic_3_additional_options'>
                <legend class="parameter_gating_legend" data-placement="right">Please select services to ban:</legend>
                    <input type="radio" name="bronze_domestic_3_one" id="bronze_domestic_3_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="bronze_domestic_3_two" id="bronze_domestic_3_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="bronze_domestic_3_three" id="bronze_domestic_3_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="bronze_corporate_3" class="policy_item">
                <input type="checkbox" name="share" value="bronze_corporate" id="bronze_corporate_3_check"><label for"bronze_corporate_3_check">Policy for Bronze Corporate users: </label>
                <select class="bronze_corporate_3_policy" id="bronze_corporate_3_select" onchange="show_options (this.options[this.selectedIndex].value, 'bronze_corporate_3', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="bronze_corporate_3_bandwidth" class='bronze_corporate_3_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="right">Please select throttled bandwidth:</legend>
                    <input type="radio" name="bronze_corporate_3_radio" id="bronze_corporate_3_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="bronze_corporate_3_radio" id="bronze_corporate_3_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="bronze_corporate_3_radio" id="bronze_corporate_3_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="bronze_corporate_3_gating" class='bronze_corporate_3_additional_options'>
                <legend class="parameter_gating_legend" data-placement="right">Please select services to ban:</legend>
                    <input type="radio" name="bronze_corporate_3_one" id="bronze_corporate_3_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="bronze_corporate_3_two" id="bronze_corporate_3_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="bronze_corporate_3_three" id="bronze_corporate_3_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="bronze_young_3" class="policy_item">
                <input type="checkbox" name="share" value="bronze_young" id="bronze_young_3_check"><label for"bronze_young_3_check">Policy for Bronze Young users: </label>
                <select class="bronze_young_3_policy" id="bronze_young_3_select" onchange="show_options (this.options[this.selectedIndex].value, 'bronze_young_3', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="bronze_young_3_bandwidth" class='bronze_young_3_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="right">Please select throttled bandwidth:</legend>
                    <input type="radio" name="bronze_young_3_radio" id="bronze_young_3_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="bronze_young_3_radio" id="bronze_young_3_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="bronze_young_3_radio" id="bronze_young_3_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="bronze_young_3_gating" class='bronze_young_3_additional_options'>
                <legend class="parameter_gating_legend" data-placement="right">Please select services to ban:</legend>
                    <input type="radio" name="bronze_young_3_one" id="bronze_young_3_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="bronze_young_3_two" id="bronze_young_3_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="bronze_young_3_three" id="bronze_young_3_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div class="alert alert-danger" role="alert" id="alert_plan_3">
                    <button type="button" class="close"><span onclick="$(this).closest('.alert').hide();">&times;</span></button>
                    The plan includes <strong>no policy</strong> for selected groups
                </div>
                </td>
            </tr>
            </table>
        </div>
        <div class="col-md-5">
            <table style="display: none;" class="plan_pane" id="plan_4">
            <tr>
                <td>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-th-list"></span></span>
                    <input type="text" class="form-control plan_name" placeholder="Plan name" value="Plan #4" id="plan_name_4" />
                </div>
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    <strong>Empty plan name!</strong> Plans must have a name.
                </div>
                <div name="gold_4" class="policy_item">
                <input type="checkbox" name="share" value="gold" id="gold_4_check"><label for"gold_4_check">Policy for Gold users: </label>
                <select class="gold_4_policy" id="gold_4_select" onchange="show_options (this.options[this.selectedIndex].value, 'gold_4', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="gold_4_bandwidth" class='gold_4_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="left">Please select throttled bandwidth:</legend>
                    <input type="radio" name="gold_4_radio" id="gold_4_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="gold_4_radio" id="gold_4_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="gold_4_radio" id="gold_4_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="gold_4_gating" class='gold_4_additional_options'>
                <legend class="parameter_gating_legend" data-placement="left">Please select services to ban:</legend>
                    <input type="radio" name="gold_4_one" id="gold_4_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="gold_4_two" id="gold_4_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));"  /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="gold_4_three" id="gold_4_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="silver_domestic_4" class="policy_item">
                <input type="checkbox" name="share" value="silver_domestic" id="silver_domestic_4_check"><label for"silver_domestic_4_check">Policy for Silver Domestic users: </label>
                <select class="silver_domestic_4_policy" id="silver_domestic_4_select" onchange="show_options (this.options[this.selectedIndex].value, 'silver_domestic_4', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="silver_domestic_4_bandwidth" class='silver_domestic_4_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="left">Please select throttled bandwidth:</legend>
                    <input type="radio" name="silver_domestic_4_radio" id="silver_domestic_4_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="silver_domestic_4_radio" id="silver_domestic_4_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="silver_domestic_4_radio" id="silver_domestic_4_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="silver_domestic_4_gating" class='silver_domestic_4_additional_options'>
                <legend class="parameter_gating_legend" data-placement="left">Please select services to ban:</legend>
                    <input type="radio" name="silver_domestic_4_one" id="silver_domestic_4_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="silver_domestic_4_two" id="silver_domestic_4_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="silver_domestic_4_three" id="silver_domestic_4_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="silver_corporate_4" class="policy_item">
                <input type="checkbox" name="share" value="silver_corporate" id="silver_corporate_4_check"><label for"silver_corporate_4_check">Policy for Silver Corporate users: </label>
                <select class="silver_corporate_4_policy" id="silver_corporate_4_select" onchange="show_options (this.options[this.selectedIndex].value, 'silver_corporate_4', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="silver_corporate_4_bandwidth" class='silver_corporate_4_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="left">Please select throttled bandwidth:</legend>
                    <input type="radio" name="silver_corporate_4_radio" id="silver_corporate_4_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="silver_corporate_4_radio" id="silver_corporate_4_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="silver_corporate_4_radio" id="silver_corporate_4_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="silver_corporate_4_gating" class='silver_corporate_4_additional_options'>
                <legend class="parameter_gating_legend" data-placement="left">Please select services to ban:</legend>
                    <input type="radio" name="silver_corporate_4_one" id="silver_corporate_4_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="silver_corporate_4_two" id="silver_corporate_4_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="silver_corporate_4_three" id="silver_corporate_4_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="bronze_domestic_4" class="policy_item">
                <input type="checkbox" name="share" value="bronze_domestic" id="bronze_domestic_4_check"><label for"bronze_domestic_4_check">Policy for Bronze Domestic users: </label>
                <select class="bronze_domestic_4_policy" id="bronze_domestic_4_select" onchange="show_options (this.options[this.selectedIndex].value, 'bronze_domestic_4', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="bronze_domestic_4_bandwidth" class='bronze_domestic_4_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="left">Please select throttled bandwidth:</legend>
                    <input type="radio" name="bronze_domestic_4_radio" id="bronze_domestic_4_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="bronze_domestic_4_radio" id="bronze_domestic_4_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="bronze_domestic_4_radio" id="bronze_domestic_4_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="bronze_domestic_4_gating" class='bronze_domestic_4_additional_options'>
                <legend class="parameter_gating_legend" data-placement="left">Please select services to ban:</legend>
                    <input type="radio" name="bronze_domestic_4_one" id="bronze_domestic_4_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="bronze_domestic_4_two" id="bronze_domestic_4_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="bronze_domestic_4_three" id="bronze_domestic_4_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="bronze_corporate_4" class="policy_item">
                <input type="checkbox" name="share" value="bronze_corporate" id="bronze_corporate_4_check"><label for"bronze_corporate_4_check">Policy for Bronze Corporate users: </label>
                <select class="bronze_corporate_4_policy" id="bronze_corporate_4_select" onchange="show_options (this.options[this.selectedIndex].value, 'bronze_corporate_4', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="bronze_corporate_4_bandwidth" class='bronze_corporate_4_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="left">Please select throttled bandwidth:</legend>
                    <input type="radio" name="bronze_corporate_4_radio" id="bronze_corporate_4_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="bronze_corporate_4_radio" id="bronze_corporate_4_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="bronze_corporate_4_radio" id="bronze_corporate_4_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="bronze_corporate_4_gating" class='bronze_corporate_4_additional_options'>
                <legend class="parameter_gating_legend" data-placement="left">Please select services to ban:</legend>
                    <input type="radio" name="bronze_corporate_4_one" id="bronze_corporate_4_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="bronze_corporate_4_two" id="bronze_corporate_4_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="bronze_corporate_4_three" id="bronze_corporate_4_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div name="bronze_young_4" class="policy_item">
                <input type="checkbox" name="share" value="bronze_young" id="bronze_young_4_check"><label for"bronze_young_4_check">Policy for Bronze Young users: </label>
                <select class="bronze_young_4_policy" id="bronze_young_4_select" onchange="show_options (this.options[this.selectedIndex].value, 'bronze_young_4', false);">
                <option value="-1" selected>--</option>
                <option value="wifi">Offload to Wifi</option>
                <option value="to3g">Switch to 3G</option>
                <option value="traffic_gating">Traffic Gating</option>
                <option value="bandwidth_throttling">Bandwidth Throttling</option>
                <option value="video_acceleration">Video Acceleration</option>
                </select></div>
                <fieldset id="bronze_young_4_bandwidth" class='bronze_young_4_additional_options'>
                <legend class="parameter_bandwidth_legend" data-placement="left">Please select throttled bandwidth:</legend>
                    <input type="radio" name="bronze_young_4_radio" id="bronze_young_4_bandwidth_one" value="64" /><label class="64kb_legend" for="64">64 kbps</label><br />
                    <input type="radio" name="bronze_young_4_radio" id="bronze_young_4_bandwidth_two" value="1000" /><label class="1Mb_legend" for="1000">1 Mbps</label><br />
                    <input type="radio" name="bronze_young_4_radio" id="bronze_young_4_bandwidth_three" value="3000" /><label class="3Mb_legend" for="3000">3 Mbps</label><br />
                </fieldset>
                <fieldset id="bronze_young_4_gating" class='bronze_young_4_additional_options'>
                <legend class="parameter_gating_legend" data-placement="left">Please select services to ban:</legend>
                    <input type="radio" name="bronze_young_4_one" id="bronze_young_4_gating_one" value="video" onclick="handle_radio_button($(this).attr('id'));" /><label for="video">Video</label><br />
                    <input type="radio" name="bronze_young_4_two" id="bronze_young_4_gating_two" value="web_browsing" onclick="handle_radio_button($(this).attr('id'));" /><label for="web_browsing">Web browsing</label><br />
                    <input type="radio" name="bronze_young_4_three" id="bronze_young_4_gating_three" value="file_transfer" onclick="handle_radio_button($(this).attr('id'));" /><label for="file_transfer">File transfer</label><br />
                </fieldset>
                <div class="alert alert-danger" role="alert" id="alert_plan_4">
                    <button type="button" class="close"><span onclick="$(this).closest('.alert').hide();">&times;</span></button>
                    The plan includes <strong>no policy</strong> for selected groups
                </div>
                </td>
            </tr>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
    <button type="button" class="btn btn-primary center-block foot_button" id="submit_button">Simulate!!</button>
</div> <!-- /container -->

<div class="container-fluid" id="chart-container">
    <div class="jumbotron" id='chart_title'></div>
    <div id="JSON_input"></div><div id="JSON_output"></div>

    <div class="chart_container" id="JSON_output_1"></div>
    <div class="row">
        <div class="col-sm-2 col-md-4"></div>
        <div class="col-sm-8 col-md-4" >
            <fieldset id="chart_1_options" class='chart_fieldset'>
                <legend class="chart_legend">Select visualization type:</legend>
                <input type="radio" name="chart_1_radio" id="chart_1_one" value="one" checked="checked" /><label for="one" class="chart_one">Per group</label>
                <input type="radio" name="chart_1_radio" id="chart_1_two" value="two" /><label for="two" class="chart_two">Average</label>
                <input type="radio" name="chart_1_radio" id="chart_1_three" value="three" /><label for="three" class="chart_three">Weighted average</label>
            </fieldset>
        </div>
        <div class="col-sm-2 col-md-4"></div>
    </div>
    <div class="chart_container" id="JSON_output_2"></div>
    <div class="row">
        <div class="col-sm-2 col-md-4"></div>
        <div class="col-sm-8 col-md-4">
            <fieldset id="chart_2_options" class='chart_fieldset'>
                <legend class="chart_legend">Select visualization type:</legend>
                <input type="radio" name="chart_2_radio" id="chart_2_one" value="one" checked="checked" /><label for="one" class="chart_one">Per group</label>
                <input type="radio" name="chart_2_radio" id="chart_2_two" value="two" /><label for="two" class="chart_two">Average</label>
                <input type="radio" name="chart_2_radio" id="chart_2_three" value="three" /><label for="three" class="chart_three">Weighted average</label>
            </fieldset>
        </div>
        <div class="col-sm-2 col-md-4"></div>
    </div>
    <div class="chart_container" id="JSON_output_3"></div>
    <div class="row">
        <div class="col-sm-2 col-md-4"></div>
        <div class="col-sm-8 col-md-4">
            <fieldset id="chart_3_options" class='chart_fieldset'>
                <legend class="chart_legend">Select visualization type:</legend>
                <input type="radio" name="chart_3_radio" id="chart_3_one" value="one" checked="checked" /><label for="one" class="chart_one">Per group</label>
                <input type="radio" name="chart_3_radio" id="chart_3_two" value="two" /><label for="two" class="chart_two">Average</label>
                <input type="radio" name="chart_3_radio" id="chart_3_three" value="three" /><label for="three" class="chart_three">Weighted average</label>
            </fieldset>
        </div>
        <div class="col-sm-2 col-md-4"></div>
    </div>
    <div class="chart_container" id="JSON_output_4"></div>
    <div class="row">
        <div class="col-sm-2 col-md-4"></div>
        <div class="col-sm-8 col-md-4">
            <fieldset id="chart_4_options" class='chart_fieldset'>
                <legend class="chart_legend">Select visualization type:</legend>
                <input type="radio" name="chart_4_radio" id="chart_4_one" value="one" checked="checked" /><label for="one" class="chart_one">Per group</label>
                <input type="radio" name="chart_4_radio" id="chart_4_two" value="two" /><label for="two" class="chart_two">Average</label>
                <input type="radio" name="chart_4_radio" id="chart_4_three" value="three" /><label for="three" class="chart_three">Weighted average</label>
            </fieldset>
        </div>
        <div class="col-sm-2 col-md-4"></div>
    </div>

    <button type="button" class="btn btn-primary center-block foot_button" id="back_button" style="display: none;">Simulate other plans</button>

</div>

<p id="void"></p>
<div class="container">
    <!-- Site footer -->
    <footer class="footer"></footer>
</div>

<script>
    //// Skin management
    var SKIN = '{{skin}}';

    //// Chart management:
    google.load("visualization", "1", {packages:["corechart"]});

    //// Form validation:
    var SIMULATION_URL = '/{{path}}'
    
    //// Chart drawing
    var image_path = '{% static "img/callout.gif" %}'

    //// Look and Feel management
    //$('#logo').attr('id','logo_'+LOGO);
    $('#logo').attr('id','logo_'+SKIN);
    $('.footer').html(FOOTER);

    // Initial form reset on document load    
    $( document ).ready(function() {
        $('input:checkbox').removeAttr('checked');
        $('input[name="share"]').click(function(e) {
            e.preventDefault();
            e.stopPropagation();
        });
        $('option[value="-1"]').attr('selected', 'selected');
        $('.share').val('0');
        $('#planselection').val('1');
        $('#planselector_1').focus();
        $('.parameter_bandwidth_legend, .parameter_gating_legend, .64kb_legend, .1Mb_legend, .3Mb_legend, .chart_one, .chart_two, .chart_three, .clone_radio').attr('data-toggle', 'tooltip');
        $('.parameter_bandwidth_legend, .parameter_gating_legend').attr('data-placement', 'left');
        $('.64kb_legend, .1Mb_legend, .3Mb_legend').attr('data-placement', 'right');
        $('.chart_one, .chart_two, .chart_three').attr('data-placement', 'bottom');
        $('.clone_radio').attr('data-placement', 'top');
        $('.parameter_bandwidth_legend').attr('title', 'Select the bandwith that will be available for customers from now');
        $('.parameter_gating_legend').attr('title', 'Select the services that will not be available for customers any more');
        $('.64kb_legend').attr('title', '64 kb limitation roughly equals traffic banning');
        $('.1Mb_legend').attr('title', 'Traffic limitation but still enjoyable');
        $('.3Mb_legend').attr('title', '3 Mb limitation means almost no limitation');
        $('.chart_one').attr('title', 'Shows per customer group KPI gain');
        $('.chart_two').attr('title', 'Shows average KPI gain (same weight for every group)');
        $('.chart_three').attr('title', 'Shows weighted KPI gain (considering group weights)');
        $('.clone_radio').attr('title', 'Check to clone this policy in the rest of plans');
        $('[data-toggle="tooltip"]').tooltip();
        $(".share_slider").slider({tooltip: 'hide'});
        $("#share_total").slider({tooltip: 'hide'});
        //console.log( "Everything resetted!" );
    });
    
    // Plan panes shown/hidden
    $('#plsel_buttons button').click (show_panes);
    
    // Slider control
    var total_slider_value = 0;
    $(".share_slider").on("slide", function(slideEvt) {
        var value_id = '#' + $(this).attr('data-slider-id') + '_value';
        $(value_id).text(slideEvt.value + ' %');
        var share_total = compute_share();
        set_share_slider (share_total[0]);
    });

    // JSON submission and chart plotting
    $('#submit_button').click (gather_and_submit_simulation_form);

    // Simulate again
    $('#back_button').click (function () {
         document.location.reload(true);
    });
    
    // Group selection/deselection
    $('.share_checkbox').change (policy_selection);

    // Function to choose chart type
    $(':radio').change (choose_chart);

    // function to always make a button active
    $('body').on('click', '.btn-group button', function (e) {
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
    });

    // functions to clone policies
    $('.clone_radio').on('change', function () {
        if ($(this).is(':checked')) {
            $(this).data('status', 'done');
        } else {
            $(this).data('status', 'not done');
        }
    });

    $('.clone_radio').on('click', function () {
        var select_id = '#' + $(this).attr('id').replace('clone_', '') + '_select';
        //console.log($(select_id).val());
        if (($(this).data('status') === undefined) || (($(this).data('status') !== undefined) && ($(this).data('status') === 'not done'))) {
            // The radio button has been checked
            //console.log ('Check');
            for (i = 2; i <= MAX_PLANS; i++) {
                //console.log(i);
                //console.log(select_id.replace('1', i));
                $(select_id.replace('1', i)).val($(select_id).val());
                if (($(select_id).val() === "traffic_gating") || $(select_id).val() === "bandwidth_throttling") {
                    show_options ($(select_id).val(), $(this).attr('id').replace('clone_', '').replace('1', i), true);
                }
            }
        } else if (($(this).data('status') !== undefined) && ($(this).data('status') === 'done')) {
            // The radio button has been unchecked
            //console.log ('Uncheck');
            $(this).prop('checked', false);
            $(this).data('status', 'not done');
            for (i = 2; i <= MAX_PLANS; i++) {
                //console.log(i);
                //console.log(select_id.replace('1', i));
                $(select_id.replace('1', i)).val('-1');
                show_options ('', $(this).attr('id').replace('clone_', '').replace('1', i), true);
            }
        }
    });
</script>
</body>
</html>